<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/assets/styles.css">
  <title>Solar Panel Watch</title>
</head>
<body>
  <h1>Error: <%= message %></h2>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</body>
</html>