<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/assets/styles.css">
  <link href=/favicon.ico rel="shortcut icon" type=image/x-icon>
  <title>Solar Panel Watch</title>
</head>
<body>
  <h2>Solar Panel Watch</h2>
  <ul>
    <li><%= __('Power 1')%>: <%= power1 %> W</li>
    <li><%= __('Power 2')%>: <%= power2 %> W</li> 
  </ul>
</body>
</html>